---
layout: not_homepage
---

<div class="container about_section">
    <div class="row">
        <div class="about-summary">
            <li>Creative, adaptable, and growth-driven machine learning engineer with expertise in many languages and cloud platforms such as AWS.
            </li>
            <li>Proven success in leading cross-functional teams and implementing data-driven solutions to drive significant business growth, improve customer satisfaction, and enhance operational efficiency.
            </li>
            <li>Advanced academic background with three master's degrees in Business Administration, Data Science, and Computer Science, complemented by extensive international experience.
            </li>
        </div>
    </div>
    <div class="row">
        <!--<img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">-->
        <div class="about_paragraph">
            <p>
                As a seasoned machine learning professional with 9 years of experience, I have a proven track record of driving business growth through data-driven solutions. My expertise spans across a range of industries, from retail, travel and hospitality to manufacturing and education. I have a strong business and technical background with three master's degrees (MSc in Computer Science, MSc in Data Science, and MSc in Business Administration with a focus on International Business). Having lived and worked extensively throughout Europe, Asia, and America, I bring a unique perspective on global markets and cultures.
            </p>
            <p>
                In my previous role at a travel technology unicorn startup in South Korea, I led a cross-functional team to achieve a 90x revenue growth for the company. Through advanced analytics and data modeling, I improved customer satisfaction by 20%, reduced costs by 15%, and increased efficiency by 30%.
            </p>
            <p>
                In my current role, my duties encompass leading teams of engineers and data scientists, developing and implementing scalable machine learning solutions, and driving projects that improve customer satisfaction and operational efficiency. I am responsible for designing and maintaining machine learning pipelines, creating predictive models, and ensuring seamless collaboration between business and technical teams. Additionally, I oversee the integration of machine learning frameworks, manage project budgets, and uphold data governance standards.
            </p>
            <p>
                I always bring new perspectives to solving problems. Ideally, I am looking for an AI/ML
                engineering position to get more exposure in advancing the state of the art where I can make an impact
                in changing the world.
            </p>
            <p>
                I love learning about new technologies. Check out my portfolios in <a class="about_me_links" href="/projects" target="_blank">projects</a> section.
            </p>
            <p>
                Feel free to browse the <a class="about_me_links" href="/projects" target="_blank">projects</a> section to check out
                what I've built, <a class="about_me_links" href="/contact" target="_blank">send me an email</a> or connect with me on <a
                    class="about_me_links" href="https://www.linkedin.com/in/roseejones/" target="_blank">LinkedIn</a>.
            </p>
        </div>
    </div>
    <h3 class="heading skills_heading center-align">Skills:</h3>
    <div class="skills_wrapper">
        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">Languages and Frameworks</h4>
                <div class="skills">
                    <i class="about_skill_icon fab fa-python"></i><span class="skill_names">Python</span><br/>
                    <i class="about_skill_icon fas fa-database"></i><span class="skill_names">SQL</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Flask</span><br/>
                    <i class="about_skill_icon fab fa-js-square"></i><span class="skill_names">Javascript</span><br/>
                    <i class="about_skill_icon fab fa-java"></i><span class="skill_names">Java</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">C++</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">C</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">UML</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">OpenAPI</span><br/>
                    <i class="about_skill_icon devicon-nodejs-plain"></i><span class="skill_names">Node</span><br/>
                    <i class="about_skill_icon devicon-express-original"></i><span class="skill_names">Express</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">D3</span><br/>
                    <i class="about_skill_icon fab fa-r-project"></i><span class="skill_names">R</span><br/>
                    <i class="about_skill_icon fab fa-html5"></i><span class="skill_names">HTML</span><br/>
                    <i class="about_skill_icon fab fa-css3-alt"></i><span class="skill_names">CSS</span><br/>
                    <i class="about_skill_icon fab fa-bootstrap"></i><span class="skill_names">Bootstrap</span><br/>
                </div>
            </div>
        </div>

        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">Machine Learning</h4>
                <div class="skills">
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Regression</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Feature Engineering</span><br/>
                    <i class="about_skill_icon fas fa-history"></i><span class="skill_names">Time Series</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Classification</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Clustering</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Predictive Modeling</span><br/>
                    <i class="about_skill_icon fas fa-sort-alpha-down"></i><span class="skill_names">NLP</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span
                        class="skill_names">Recommender Systems</span><br/>
                </div>
            </div>
        </div>

        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">Machine Learning Frameworks & Cloud Platforms </h4>
                <div class="skills">
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">AWS Sagemaker</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">AWS Bedrock</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Databricks</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Pytorch</span><br/>
                    <i class="about_skill_icon fab fa-diaspora"></i><span class="skill_names">Tensorflow</span><br/>
                </div>
            </div>
        </div>

        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">Databases & Big Data Frameworks</h4>
                <div class="skills">
                    <i class="about_skill_icon devicon-postgresql-plain"></i><span class="skill_names">PostgreSQL</span><br/>
                    <i class="about_skill_icon devicon-mysql-plain"></i><span class="skill_names">MySQL</span><br/>
                    <i class="about_skill_icon fas fa-project-diagram"></i><span class="skill_names">NoSQL</span><br/>
                    <i class="about_skill_icon devicon-mongodb-plain"></i><span class="skill_names">MongoDB</span><br/>
                    <i class="about_skill_icon far fa-snowflake"></i><span class="skill_names">Snowflake</span><br/>
                    <i class="about_skill_icon far fa-diaspora"></i><span class="skill_names">Databricks</span><br/>
                    <i class="about_skill_icon far fa-star"></i><span class="skill_names">Spark</span><br/>
                </div>
            </div>
        </div>

        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">Resources</h4>
                <div class="skills">
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">AWS</span><br/>
                    <i class="about_skill_icon devicon-docker-plain"></i><span class="skill_names">Docker</span><br/>
                    <i class="about_skill_icon devicon-docker-plain"></i><span class="skill_names">Terraform</span><br/>
                    <i class="about_skill_icon devicon-docker-plain"></i><span class="skill_names">Kubernetes</span><br/>
                    <i class="about_skill_icon devicon-docker-plain"></i><span class="skill_names">ArgoCD</span><br/>
                    <i class="about_skill_icon devicon-git-plain"></i><span class="skill_names">Git</span><br/>
                    <i class="about_skill_icon devicon-github-plain"></i><span class="skill_names">GitHub</span><br/>
                    <i class="about_skill_icon devicon-heroku-original"></i><span class="skill_names">Heroku</span><br/>
                    <i class="about_skill_icon devicon-google-plain"></i><span class="skill_names">GCP</span><br/>
                </div>
            </div>
        </div>

        <div class="skill_group">
            <div class="col m4 s6">
                <h4 class="heading">AWS</h4>
                <div class="skills">
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">API Gateway</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">AppRunner</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">Athena</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">Bedrock</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">CLI</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">CloudWatch</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">EC2</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">ECR</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">EventBridge</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">Forecast</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">Sagemaker</span><br/>
                    <i class="about_skill_icon fab fa-aws"></i><span class="skill_names">Many more...</span><br/>






                </div>
            </div>
        </div>
    </div>

    <!--    <div class="skills_wrapper">-->
    <!--        {% for tech_group in site.data.skills %}-->
    <!--        <div class="skill_group">-->
    <!--            <div class="col m4 s6">-->
    <!--                <h4 class="heading">{{tech_group.name}}:</h4>-->
    <!--                <div class="skills">-->
    <!--                    {% for tech in tech_group.skills %}-->
    <!--                    <i class="about_skill_icon devicon-{{tech.class}}"></i><span-->
    <!--                        class="skill_names">{{tech.skill_name}}</span><br/>-->
    <!--                    {% endfor %}-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <!--</div>-->
