<head>
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:title" content="Rose Jones" />
  <meta property="og:description" content="Hello World" />
  <meta property="og:image" content="https://silverrainb.github.io/assets/images/me.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <title>{{site.title}}</title>
</head>