<div class="tile project-tile">
  <img class="tile-img" src="{{ project.cover }}" alt="{{ project.title }} cover">
  <span class="tile-no">0{{ include.index }}</span> <span class="tile-tag">/ project</span>
  <h2 class="tile-title">{{ project.title }}</h2>
  <p class="tile-desc">{{ project.description | truncate: 140 }}</p>
  <!-- Modal Trigger -->
  <button class="fill modal-trigger tile-button" href="#project-modal-{{ project.id }}">learn more -&gt;</button>
  <!-- Modal Structure -->
  {% include project_modal.html %}
</div>
